.background {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex {
    flex: 40%;
    background-color: black;
}

.highcharts-background {
    fill: #000000;
}

.highcharts-plot-background {
    fill: 	#181818;
}